---
import { getEntryBySlug } from "astro:content";
import Layout from "src/layout/Layout.astro";
const TermsConditionBody = await getEntryBySlug("termsCondition", "index");
const { Content } = await TermsConditionBody.render();
---

<Layout title='Terms & Condition'>
  <div
    class='max-w-container-l mx-auto max-xl:mx-20
    max-lg:mx-060 max-md:mx-10 max-sm:mx-5'>
    <h1
      class='max-w-383 mx-auto text-center text-black-strom tracking-tightg my-0 text-64xl font-bold font-fraunces leading-72 max-lg:text-6xl max-lg:leading-68 max-md:text-52xl max-md:leading-60 max-sm:text-44xl max-sm:leading-52'
      data-aos='fade-up'
      data-aos-duration='1500'>
      Privacy Policy
    </h1>
    <Content />
  </div>
</Layout>
