---
import { Image } from "astro:assets";
const { webDesignSteps } = Astro.props;
---

<section class='mt-40 max-lg:mt-100 max-sm:mt-20'>
  <div
    class='max-w-container-l mx-auto max-xl:mx-20
  max-lg:mx-060 max-md:mx-10 max-sm:mx-5'>
    <div>
      <h1
        data-aos='fade-up'
        data-aos-duration='1000'
        class='max-w-732 text-black-strom text-center mx-auto tracking-tightg text-64xl leading-72 font-bold font-fraunces max-lg:text-56xl max-lg:leading-64 max-md:text-5xl max-md:leading-56 max-sm:text-4xl max-sm:leading-44'>
        Data-driven web design in digital age
      </h1>
    </div>
    <div
      class='flex gap-10 mt-16 justify-between max-lg:gap-10 max-lg:flex-col max-lg:mt-060 max-sm:gap-5 max-sm:mt-10'>
      {
        webDesignSteps &&
          webDesignSteps.map((step: any) => {
            return (
              <div
                class='bg-auto rounded-xl flex-grow flex-shrink basis-0% p-10 max-sm:p-5'
                style={`background-position: 0 0;background-image: url('${step.bgImage}');`}
                data-aos='fade-up'
                data-aos-duration='1000'>
                <Image
                  src={step.icon}
                  class='max-sm:w-060'
                  alt='step-icon'
                  height={100}
                  width={100}
                />
                <h1 class='mt-30 text-black-strom tracking-tighth text-32xl leading-10 font-bold font-fraunces max-lg:text-3xl max-lg:leading-38 max-md:text-28xl max-md:leading-9 max-sm:text-26xl max-sm:leading-8 max-sm:mt-5'>
                  {step.name}
                </h1>
                <div class='mt-5 mb-7 text-black-strom text-lg font-normal font-inter leading-7 max-sm:mt-4 max-sm:mb-5 max-sm:text-base max-sm:leading-5'>
                  {step.description}
                </div>
                <a
                  href='/about'
                  class='no-underline inline-block overflow-hidden max-w-full group text-black-strom text-lg font-semibold font-inter max-sm:text-base after:h-px after:w-full after:translate-x-100 after:bg-black-strom after:absolute after:bottom-0 after:-left-[100px] hover:after:translate-x-[30%] after:transition after:duration-500 after:ease-in-out relative'>
                  Discover More
                </a>
              </div>
            );
          })
      }
    </div>
  </div>
</section>
